
.chat__message {
    position: relative;
    font-size: 16px;
    padding: 10px;
    width: fit-content;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-all;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 30px;
}

.chat__sender {
    margin-left: auto;
    background-color: #dcf8c6;
}

.chat__timestamp {
    margin-left: 10px;
    font-size: xx-small;
}

.chat__name {
    font-weight: 800;
    font-size: xx-small;
}

.chat__image .chat__imageLink {
    width: 400px;
}

.chat__imageLink > img {
    width: inherit;
}

.chat__message .OptionsList {
    top: 25px; /* same as OptionsButton's Height */
}

.chat__message .OptionsButton {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    border-radius: 0 10px 0 0; /* same as chat__message border-radius */
    Height: 25px;
}

    .chat__message .OptionsButton:focus {
        display: block;
    }

.chat__message:hover .OptionsButton {
    display: block;
}

.chat__linked {
    background-color: rgb(240, 232, 232);
    border-radius: 5px;
    padding: 2px;
    border-left: 3px solid darkcyan;
}

.chat__refname {
    display: block;
    font-weight: 800;
    font-size: xx-small;
}
