.sidebar {
    flex: 0.35;
    display: flex;
    flex-direction: column;
}

.sidebar__search {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 39px;
    padding: 10px;
}

.sidebar__searchContainer {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 20px;
}

.sidebar__searchContainer > input {
    border: none;
    margin-left: 10px;
}

.sidebar__searchContainer > .MuiSvgIcon-root {
    color: gray;
    padding: 10px;
}

.sidebar__header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgray;
}

.sidebar__headerRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
    position: relative;
}
.sidebar__headerRight .sidebar__headerOptions {
    position: absolute;
    right: 20px;
    top: 40px;
}
.sidebar__headerRight .sidebar__headerOptions .options {
    border: 1px solid;
    list-style-type: none;
    background: white;
    padding-left: 0;
    /* padding: 5px; */
}
.sidebar__headerRight .options li {
    text-align: left;
    font-size: medium;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    width: inherit;
    cursor: pointer;
}
.sidebar__headerRight .options li:hover {
    background: rgb(233, 227, 227);
}
.sidebar__chats {
    flex: 1;
    overflow: scroll;
    background-color: white;
}
